<div class="row mt-4">
  <div class="col-4"><%- include("./partials/messages"); %></div>
</div>
<h1 class="mt-2">Dashboard</h1>
<div class="flex">
  <a href="/users/qr/<%= id %>">My QR Code</a>
  <a href="/users/edit/<%= id %>">Edit Profile</a>
</div>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
